
body{

background-color: #6482D1;
margin: 70px;

}

div {
    
    width: 60px;
    height: 70px;
    padding: 10px;
    border: 10px black;
    margin-left: left;
    margin-right: auto;
    margin-top:  auto;

}

p {
text-align: left;
font-size: 20px;

}

a {
    text-align: left;
    
    }
.sns1 {

    text-align: left;
}
